*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.transparent-button {
    width: auto;
    background-color: transparent;
    border: dotted;
    color: white;
    text-align: center;
    margin: 5px;
}

.card-dimensions{
    width:250px;
    height:350px;
    margin:10px;
}